<div class="container">
    <div class="row">
        <h4>Comments</h4>
    </div>
    <div class="row">
        <div class="col">
            <div class="comments" *ngFor="let c of comments">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <p>{{c.commentText}}</p> 
                        </div>

                    </div>
                </div>
                <!-- <b>{{c.userID}}</b> -->

            </div>
            <form>
                <textarea rows = "1" class="inputBox" id="newCommentText" name="comment"></textarea>
                <!-- <input type="text" class="inputBox" id="inputTitle" name="comment"> -->
                <br>
                <button type="submit">Add Comment</button>
            </form>
        </div>
    </div>
</div>