textarea {
    width: 75%;
    margin: .25rem;
    resize: none;
    word-wrap: normal;
    padding: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 2px solid var(--ml-light-blue-solid);
    border-radius: 10px;
  }

.card p {
    margin: .5rem;
    width: 80%;
}

#user {
    text-align: right;
}

h4 {
    margin: .5rem;
}