<nav id="nav" class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="home"><img src="../../../assets/img/memoryleaklogo.jpg"></a>
    <button id="navbutton" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/ask">Have a Question?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/search">Search Questions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/profile"></a>
            </li>
            <li id="user" class="nav-item dropdown">
                <a class="nav-link" routerLink="/exercise" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    User Dashboard
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="/profile">Profile</a>
                    <a class="dropdown-item" routerLink="/home">Log In/Log Out</a>
                </div>
            </li>
        </ul>
        <!-- <span class="navbar-text">
            <div class="container">
                <div *ngIf="uServ.user$ | async; then authenticated">
                     template will replace this div
                </div>

                 User logged in 
                 <ng-template #authenticated>
                    <div *ngIf="uServ.user$ | async as user" class="alr">
                        <span class="nav-logout" (click)="uServ.signOut()">Logout</span>
                    </div>
                </ng-template>
            </div>
        </span> -->
    </div>
</nav>

<!-- okay, starting with publishing the dev branch -->