.nav-link {
	color: black;
}

.navbar-collapse {
	background-color: var(--ml-light-blue);
	z-index: -1;
}

a,
a:active,
a:focus,
a:hover {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

button {
	background-color: var(--ml-dark-blue);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
	color: black;
}

button.navbar-toggler {
	margin: 10px;
}

button.navbar-toggler.navbar-toggler-right {
	border-color: white;
}

img.rounded-circle {
	border-radius: -50%;
	height: auto;
	max-width: 100px;
}

nav.navbar {
	background-color: transparent;
	color: black;
	z-index: 0;
}

span.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	color: white;
}

#logo {
	background-color: transparent;
}