<ng-container>
	<div *ngIf="uServ.user$ | async; then authenticated; else guest"></div>
	<ng-template #authenticated>
		<nav class="navbar navbar-expand-lg">
			<div id="logo" class="mx-auto my-2 position-relative order-md-1">
				<a class="mx-auto" href="#">
					<img src="../../../assets/img/memoryleaklogo.png" alt="Memory Leak" class="rounded-circle" />
				</a>

				<button class="navbar-toggler" type="button" (click)="toggleNavCollapsed()">
					<span class="navbar-toggler-icon">
						<p class="sr-only">Navigation Menu</p>
					</span>
				</button>
			</div>

			<div
				*ngIf="!isScreenSmall && navCollapsed"
				class="navbar-collapse w-100 dual-collapse2 order-md-0 collapse"
			>
				<ul class="navbar-nav ml-auto text-center">
					<li class="nav-item">
						<a class="nav-link" routerLink="/ask">Have a Question?</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" routerLink="/search">Search Questions</a>
					</li>
				</ul>
			</div>

			<div *ngIf="isScreenSmall && navCollapsed" class="navbar-collapse w-100 dual-collapse2 order-md-2 collapse">
				<ul class="navbar-nav ml-auto text-center">
					<li class="nav-item">
						<a class="nav-link" routerLink="/ask">Have a Question?</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" routerLink="/search">Search Questions</a>
					</li>
				</ul>
			</div>

			<div
				*ngIf="!isScreenSmall && !navCollapsed"
				class="navbar-collapse w-100 dual-collapse2 order-md-0 collapse show"
			>
				<ul class="navbar-nav ml-auto text-center">
					<li class="nav-item">
						<a class="nav-link" routerLink="/ask">Have a Question?</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" routerLink="/search">Search Questions</a>
					</li>
				</ul>
			</div>

			<div
				*ngIf="isScreenSmall && !navCollapsed"
				class="navbar-collapse w-100 dual-collapse2 order-md-2 collapse show"
			>
				<ul class="navbar-nav ml-auto text-center">
					<li class="nav-item">
						<a class="nav-link" routerLink="/ask">Have a Question?</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" routerLink="/search">Search Questions</a>
					</li>
				</ul>
			</div>

			<div *ngIf="navCollapsed" class="navbar-collapse w-100 dual-collapse2 order-md-3 collapse">
				<ul class="navbar-nav mr-auto text-center">
					<li class="nav-item">
						<a class="nav-link" routerLink="/profile">User Profile</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" (click)="uServ.signOut()">Account Logout</a>
					</li>
				</ul>
			</div>

			<div *ngIf="!navCollapsed" class="navbar-collapse w-100 dual-collapse2 order-md-3 collapse show">
				<ul class="navbar-nav mr-auto text-center">
					<li class="nav-item">
						<a class="nav-link" routerLink="/profile">User Profile</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" (click)="uServ.signOut()">Account Logout</a>
					</li>
				</ul>
			</div>
		</nav>
	</ng-template>

	<ng-template #guest>
		<nav class="navbar navbar-expand-lg">
			<div class="navbar-collapse dual-collapse2 order-1 order-md-0"  style="background-color: transparent;">
				<ul class="navbar-nav mr-auto text-center">
					<li class="nav-item">
						<br>
					</li>
				</ul>
			</div>

			<div class="mx-auto order-0 order-md-1 position-relative">
				<a class="mx-auto" href="#">
					<img src="../../../assets/img/memoryleaklogo.png" class="rounded-circle" alt="Memory Leak"/>
				</a>
			</div>
			
			<div class="navbar-collapse dual-collapse2 order-2 order-md-2"  style="background-color: transparent;">
				<ul class="navbar-nav mr-auto text-center">
					<li class="nav-item">
						<br />
					</li>
				</ul>
			</div>
		</nav>
	</ng-template>
</ng-container>
