<div *ngIf="isAnswer; then answer; else question"></div>

<ng-template #answer>
	<div class="card answer">
		<div class="row">
			<div class="col-9">
				<p>{{ text }}</p>
			</div>

			<div id="userDesktop" class="col-3">
				<div *ngIf="isAnonymous; then anonymous; else userName"></div>

				<ng-template #userName>
					<p>{{ displayName }}</p>
				</ng-template>

				<ng-template #anonymous>
					<p>Anonymous User</p>
				</ng-template>

				<ng-container *ngIf="isAdmin">
					<button class="btn bi bi-trash" (click)="deleteAnswerComment(this, comment.comment)"></button>
				</ng-container>
			</div>
		</div>

		<div id="userMobile">
			<div *ngIf="isAnonymous; then anonymous; else userName"></div>

			<ng-template #userName>
				<p>{{ displayName }}</p>
			</ng-template>

			<ng-template #anonymous>
				<p>Anonymous User</p>
			</ng-template>
		</div>
	</div>
</ng-template>

<ng-template #question>
	<div class="card">
		<div class="row">
			<div class="col-9">
				<p>{{ text }}</p>
			</div>

			<div id="userDesktop" class="col-3">
				<div *ngIf="isAnonymous; then anonymous; else userName"></div>

				<ng-template #userName>
					<p>{{ displayName }}</p>
				</ng-template>

				<ng-template #anonymous>
					<p>Anonymous User</p>
				</ng-template>

				<ng-container *ngIf="isAdmin">
					<button class="btn" (click)="deleteComment(this, comment.comment)">
						<i class="bi bi-trash"></i>
					</button>
				</ng-container>
			</div>
		</div>

		<div id="userMobile">
			<div *ngIf="isAnonymous; then anonymous; else userName"></div>

			<ng-template #userName>
				<p>{{ displayName }}</p>
			</ng-template>
			
			<ng-template #anonymous>
				<p>Anonymous User</p>
			</ng-template>
		</div>
	</div>
</ng-template>
