.card p {
	margin: 0.5rem;
	width: 80%;
}

.card.answer {
	background-color: #58585860;
}

#userDesktop {
	display: block;
	text-align: right;
}
#userMobile {
	display: none;
	text-align: right;
}

textarea {
	margin: 0.25rem;
	resize: none;
	width: 75%;
	word-wrap: normal;
}

@media (max-width: 800px) {
	#userDesktop {
		display: none;
	}
	#userMobile {
		display: block;
	}
}
