<div class="container">
    <div class="row">
        <h4>Answers</h4>
    </div>
    <div class="comments" *ngFor="let a of answers">
        <app-individual-answer [userID]="user.uid" [accepted]="a.uid==question.acceptedAnswerID" [questionAnonymous]="question.anonymous"
            [answer]="a" [isAnonymous]="question.anonymous&&(question.askerID==a.answererID)"
            [askerID]="question.askerID" [question]="question"></app-individual-answer>
    </div>
    <form>
        <textarea rows="3" class="inputBox" [(ngModel)]="newAnswerText" name="comment"></textarea><br>
        <button type="submit" (click)="updateAnswer(newAnswerText)">Add Answer</button>
    </form>
</div>