<section id="card-flow-section" class="card-section">
    <div id="questionCards">
        <ng-container *ngIf="question; then hasQuestion else noQuestion">
        </ng-container>

        <ng-template #hasQuestion>
            <div class="container">
                <div class="card">
                    <div class="row">
                        <div class="col">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-9">
                                        <h5 class="card-title">{{question.title}}</h5>
                                    </div>
                                    <div class="col-3">
                                        <div id="user">
                                            <div *ngIf="question.anonymous; then anonymous else userName"></div>
                                            <ng-template #userName><h5>{{userDisplayName}}</h5></ng-template>
                                            <ng-template #anonymous><h5>Anonymous User</h5></ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <p class="card-text">{{question.body}}</p>
                                <div class="card">
                                    <div class="card-body">
                                        <app-comment [comments]="comments" [question]="question" [commentOnAnswer]="false"></app-comment>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <app-answer-parent [answers]="answers" [question]="question">
                                        </app-answer-parent>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="flag-container">
                                    <label>Problem with this question?</label><span></span>
                                    <button id="flag" (click)="alertFunction()">Submit</button>
                                    <!--handle actual logic for what happens when the question in flagged -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </ng-template>

        <ng-template #noQuestion>
            <div class="card">
                <div class="card-body">
                    <p class="card-text">This question does not exist.</p>
                </div>
            </div>
        </ng-template>
    </div>


</section>