* {
	box-sizing: border-box;
}

.card {
	background-color: #54545431;
}

.card-body {
	color: black;
	background-color: #54545428;
}

.col {
	background-color: transparent;
}

#card-flow-section {
	flex: 1;
}

#flag {
	margin-left: 10px;
}

#questionCards {
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#userDesktop {
	display: block;
	text-align: right;
}
#userMobile {
	display: none;
	text-align: right;
}

section.card-section {
	padding: 1em;
}

section#card-flow-section.card-section {
	background-color: transparent;
}

@media (max-width: 320px) {
	.card {
		flex: 0 0 315px;
	}
	.votes {
		font-size: 12px;
	}
	button {
		font-size: 3px;
	}
}

@media (min-width: 325px) and (max-width: 375px) {
	.card {
		flex: 0 0 350px;
	}
	.votes {
		font-size: 14px;
	}
	button {
		font-size: 5px;
	}
}

@media (max-width: 800px) {
	#userDesktop {
		display: none;
	}
	#userMobile {
		display: block;
	}
}
