* {
    box-sizing: border-box;
}

#user {
    text-align: right;
}

#card-flow-section{
    flex: 1;
}

.card {
    background-color:#54545431;
}

.col {
    background-color: transparent;
}

section.card-section{
    padding: 1em;
}

#questionCards { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
}

.card-body {
    color: black;
    background-color: #54545428;
}

section#card-flow-section.card-section {
    background-color:transparent;
}

#flag {
    margin-left: 10px;
}

@media (max-width:320px){
    .card {
		flex: 0 0 315px;
	}
	.votes {
		font-size: 12px;
	}
	button {
		font-size: 3px;
	}
}

@media (min-width:325px) and (max-width: 375px){
	.card {
		flex: 0 0 350px;
	}
	.votes {
		font-size: 14px;
	}
	button {
		font-size: 5px;
	}
}