<section id="card-flow-section" class="card-section">
  <div id="questionCards">
    <!-- <div class="container-fluid"> -->
    <ng-container *ngIf="question; then hasQuestion else noQuestion">
    </ng-container>

    <ng-template #hasQuestion>
      <!--FIXME: Get a specific question for this-->
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">

              <div class="card-header">
                <h5 class="card-title">{{question.title}}</h5>
              </div>

              <div class="card-body">
                <p class="card-text">{{question.body}}</p>

                <div class="card-comment-body">
                  <h4 class="card-comment-title">Comments</h4>
                  <p class="card-comment-text">Here is a comment on this question</p>
                  <!--loop through the comments on the question-->
                </div>
                <!-- <app-answer></app-answer> potentially looping through the answers from the question -->
                <div class="flag-container">
                  <label>Problem with this question?</label><span></span>
                  <button (click)="alertFunction()">Submit</button>
                  <!--handle actual logic for what happens when the question in flagged -->
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </ng-template>

    <ng-template #noQuestion>
      <div class="card">
        <div class="card-body">
          <p class="card-text">This question does not exist.</p>
        </div>
      </div>
    </ng-template>
  </div>


</section>