<div *ngIf="accepted; then acceptedAnswer else unaccepted"></div>
<ng-template #acceptedAnswer>
    <div class="card accepted">
        <div class="row">
            <div class="col-9">
                <p>{{text}}</p>
            </div>
            <div id="user" class="col-3">
                <div *ngIf="isAnonymous; then anonymous else userName"></div>
                <ng-template #userName>
                    <p>{{displayName}}</p>
                </ng-template>
                <ng-template #anonymous>
                    <p>Anonymous User</p>
                </ng-template>
            </div>
        </div>
        <div class="commentCard">
            <div class="row">
                <div class="col">
                    <app-comment class="coms" [comments]="comments" [answer]="answer" [commentOnAnswer]="true"
                        [askerID]="askerID" [questionAnonymous]="questionAnonymous" [isAdmin]="isAdmin"></app-comment>
                </div>
            </div>
        </div>
        <div *ngIf="userID==askerID; then acceptBtn"></div>
        <ng-template #acceptBtn>
            <button class="btn" (click)="unacceptAnswer()">Unaccept The Above Answer</button>
        </ng-template>
        <ng-container *ngIf="isAdmin">
            <button class="btn">Remove</button>
        </ng-container>
    </div>
</ng-template>

<ng-template #unaccepted>
    <div class="card">
        <div class="row">
            <div class="col-9">
                <p>{{text}}</p>
            </div>
            <div id="user" class="col-3">
                <div *ngIf="isAnonymous; then anonymous else userName"></div>
                <ng-template #userName>
                    <p>{{displayName}}</p>
                </ng-template>
                <ng-template #anonymous>
                    <p>Anonymous User</p>
                </ng-template>
            </div>
        </div>
        <div class="commentCard">
            <div class="row">
                <div class="col">
                    <app-comment class="coms" [comments]="comments" [answer]="answer" [commentOnAnswer]="true"
                        [askerID]="askerID" [questionAnonymous]="questionAnonymous" [isAdmin]="isAdmin"></app-comment>
                </div>
            </div>
        </div>
        <div *ngIf="userID==askerID; then acceptBtn"></div>
        <ng-template #acceptBtn>
            <button class="btn" (click)="updateAcceptedAnswer()">Accept The Above Answer</button>
        </ng-template>
        <ng-container *ngIf="isAdmin">
            <button class="btn">Remove</button>
        </ng-container>
    </div>
</ng-template>