.card p {
	margin: 0.5rem;
	width: 80%;
}

.com {
	margin: 0.5rem;
	width: fit-content;
}

.commentCard {
	align-content: center;
	background-color: #c8c8c8c0;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
	color: black;
	flex: 0 0 375px;
	margin: max(1vh, 1vw);
	width: auto;
}

#userDesktop {
	display: block;
	text-align: right;
}

#userMobile {
	display: none;
	text-align: right;
}

button {
	margin: 0.5rem;
}

div.accepted {
	background-color: green;
	color: white;
}

textarea {
	border: 2px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	margin: 0.25rem;
	padding: 12px 20px;
	resize: none;
	width: 75%;
	word-wrap: normal;
}

@media (max-width: 800px) {
	#userDesktop {
		display: none;
	}
	#userMobile {
		display: block;
	}
}
