* {
    box-sizing: border-box;
}

#card-flow-section{
    flex: 1;
}

section.card-section{
    padding: 1em;
}

.card-text {
    color: white;
}
.card {
    flex: 0 0 375px;
    /* background-color: #498eaf; */
    width: 100%;
    margin: .5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    align-content: center;
}
.card>.card-header {
    background-color: var(--ml-light-blue);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#questionCards { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
}

section#card-flow-section.card-section {
    background-color:transparent;
    /* padding: 1px; */
}
div.alr {
    background-color:transparent;
    /* width: max-content;
    align-content: center; */
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

@media (max-width:320px){
    .card{
		flex: 0 0 315px;
	}
}

@media (min-width:325px) and (max-width: 375px){
	.card{
		flex: 0 0 350px;
	}
}
