* {
	box-sizing: border-box;
}

.card {
	flex: 0 0 375px;
	width: 100%;
	margin: .5rem;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
	align-content: center;
}

.card>.card-header {
	background-color: var(--ml-light-blue);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.card-body {
	background-color: #c8c8c8;
}

.card-text {
	color: black;
}

.centered {
	-ms-transform: translate(-50%, -50%);
	left: 50%;
	margin: 0;
	padding-top: 5%;
	position: absolute;
	transform: translate(-50%, -50%);
}

#card-flow-section {
	flex: 1;
}

#questionCards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

a,
a:active,
a:focus,
a:hover {
	color: inherit;
	text-decoration: none;

}

button {
	align-self: center;
}

div.alr {
	background-color: transparent;
}

div>.card>.card-body {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #c8c8c8;
	align-content: center;
}

h4 {
	text-align: center;
}

section.card-section {
	padding: 1em;
}

section#card-flow-section.card-section {
	background-color: transparent;
}

@media (max-width: 320px) {
	.card {
		flex: 0 0 315px;
	}
}

@media (min-width: 325px) and (max-width: 375px) {
	.card {
		flex: 0 0 350px;
	}
}

@media (min-width: 2300px) {
	#questionCards {
		flex-direction: column;
	}
}