/* You can add global styles to this file, and also import other style files */
:root {
	--ml-dark-accent: #545454;
	--ml-dark-blue: #154d9a80;
	--ml-dark-blue-solid: #154d9a;
	--ml-light-accent: #e0ffff;
	--ml-light-blue: #359de180;
	--ml-light-blue-solid: #359de1;
}

.card {
	align-content: center;
	background-color: var(--ml-light-blue);
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
	flex: 0 0 375px;
	margin: max(1vw, 1vh);
	width: inherit;
}

.card-body {
	background-color: #54545460;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: max(1vw, 1vh);
}

.card-header {
	background-color: var(--ml-light-blue);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

html {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 100%;
}
