* {
	box-sizing: border-box;
}

.centered {
	-ms-transform: translate(-50%, -50%);
	left: 50%;
	margin: 0;
	padding-top: 5%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.card {
	align-content: center;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
	flex: 0 0 375px;
	margin: .5rem;
	width: 100%;
}

.card-text {
	color: black;
}

.card > .card-header {
	background-color: var(--ml-light-blue);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#card-flow-section {
	flex: 1;
}

#questionCards { 
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

a, a:hover, a:focus, a:active {
	color: inherit;
	text-decoration: none;
}

button {
	align-self: center;
	margin: .5rem;
}

div.alr {
	background-color:transparent;
}

div > .card > .card-body {
	align-content: center;
	background-color:  #54545431;
}

h4 {
	text-align: center;
}

section#card-flow-section.card-section {
	background-color:transparent;
}

section.card-section {
	padding: 1em;
}

@media(max-width:320px) {
	.card {
		flex: 0 0 315px;
	}
}

@media(min-width:325px) and (max-width: 375px) {
	.card {
		flex: 0 0 350px;
	}
}

@media(min-width:2300px) {
	#questionCards {
		flex-direction: column;
	}
}
