<div *ngIf="userService.user$ | async as user" class="alr">
	<ng-container>
		<section id="card-flow-section" class="card-section">
			<div id="questionCards">
				<!-- <div class="container-fluid"> -->
				<ng-container *ngIf="flaggedQuestions && flaggedQuestions.length > 0; then hasQuestions else noQuestions">
				</ng-container>
				<ng-template #hasQuestions>
					<ng-container *ngFor="let question of flaggedQuestions">
						<div class="container">
							<div class="row">
								<div class="col">
									<a routerLink="question/{{ question.uid }}">
										<div class="card">
											<div class="card-header">
												<h5 class="card-title">{{ question.title }}</h5>
											</div>
											<div class="card-body">
												<p class="card-text">{{ question.body }}</p>
											</div>
										</div>
									</a>
								</div>

							</div>
						</div>
					</ng-container>
				</ng-template>

				<ng-template #noQuestions>
					<div class="card">
						<div class="card-body">
							<p class="card-text">There are no flagged questions.</p>
						</div>
					</div>
				</ng-template>
			</div>
		</section>
	</ng-container>
</div>