* {
	box-sizing: border-box;
}

.card {
	flex: 0 0 375px;
	width: 100%;
	margin: 0.5rem;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
	align-content: center;
}

.card > .card-header {
	background-color: var(--ml-light-blue);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.card-body {
    background-color:  #c8c8c8;
}

.card-text {
	color: black;
}

.centered {
	margin: 0;
	padding-top: 5%;
	position: absolute;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#card-flow-section {
	flex: 1;
}

#noResults {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#questionCards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: transparent;
}

#term {
    width: 99%;
    margin: .25rem;
    resize: none;
    word-wrap: normal;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
}

a, a:active, a:focus, a:hover {
	text-decoration: none;
	color: inherit;
}

button {
    margin: .5rem;
}

div.alr {
	background-color: transparent;
}

div > .card > .card-body {
    background-color:  #c8c8c8;
	align-content: center;
}

#inputAnswered {
    height: 1.25rem;
    width: 1.25rem;
    vertical-align: middle;
}

form {
	align-self: center;
}

h4 {
	text-align: center;
}

input {
	margin: 0.5rem;
}

label {
	font-size: 18px;
}

section.card-section {
	padding: 1em;
}

section#card-flow-section.card-section {
	background-color: transparent;
}

@media (max-width: 320px) {
	.card {
		flex: 0 0 315px;
	}
}

@media (min-width: 325px) and (max-width: 375px) {
	.card {
		flex: 0 0 350px;
	}
}

@media (min-width: 2300px) {
	#questionCards {
		flex-direction: column;
	}
}
