* {
    box-sizing: border-box;
}

.card-text {
    color: black;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

div>.card>.card-body {
    background-color:  #54545431;
    align-content: center;
}

h4 {
    text-align: center;
    /* width: fit-content; */
    padding: 5px 12px 2px;
}

#userLetter {
    font-size: 4rem;
}

#user {
    width: fit-content;
    background-color: aqua;
    border-radius: 50%;
}
#spacer {
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
}

.card-header {
    align-content: center;
}

.centered {
    margin: 0;
    padding-top: 5%;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button {
    align-self: center;
}

@media (max-width:320px){
    .card{
		flex: 0 0 315px;
	}
}

@media (min-width:325px) and (max-width: 375px){
	.card{
		flex: 0 0 350px;
	}
}

@media (min-width:2300px) {
    #questionCards {
        flex-direction: column;
    }
}
